/* Տառատեսակը */
@font-face {
  font-family: "Poppins", sans-serif;
  src: url("../assets/fonts/Poppins-ExtraBold.ttf");
}

@keyframes rotateAndResize {
  0% {
    width: 300dvh;
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    width: 250px;
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    width: 250px;
    transform: rotate(360deg);
    opacity: 0; /* Hide the image */
  }
}

body {
  overflow: visible !important;
  overflow-x: hidden !important;
}

.container {
  font-family: Sans-Serif;
  text-align: center;
}

/* ContactCard.css */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #8b3eeb;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.icon {
  background-color: #8b3eeb;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 10px;
}

.icon-content {
  font-size: 24px;
  color: white;
}

.texts {
  width: 70%;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #333;
}

.email {
  font-size: 14px;
  color: #333;
}

.shaps_logo {
  position: relative;
  animation: rotateAndResize 5s infinite; /* Infinite loop */
  transition: opacity 0.5s ease-out;
}

/* Header */

.header {
  width: 100vw !important;
}

.header_container {
  background: linear-gradient(90deg, #00003d, #010060);
  border-bottom-left-radius: 115%;
  border-bottom-right-radius: 170%;
  margin-left: -14%;
}

.box {
  height: 450px;
  color: white;
  margin: 0px;
}

.box_content {
  color: white;
  margin: 0 auto;
  padding: 0 auto;
  margin-inline-start: 7%;
  margin-top: 4%;
  text-align: start;
  padding: 30px;
}

.box_content h2 {
  font-size: 40px;
  text-align: start;
  margin: 0px;
  margin-top: 25%;
}

.box_content h1 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 60px;
  margin-block: 20px;
}
.box_content p {
  font-size: 18px;
  color: white !important;
}

.box_content ul {
  list-style-type: none;
  padding-left: 0;
}

.title_animation {
  position: relative;
  margin-inline-start: 160%;
  z-index: 3;
  width: 250px;
  margin-top: 0;
}

.circle_box {
  margin-left: 103%;
  margin-top: -60%;
  position: relative;
  z-index: 7;
}

.circle {
  position: absolute;
  border-radius: 50%;
  margin-top: 12%;
  margin-left: 8.5%;
}

.img {
  border-radius: 50%;
  width: 600px;
  margin-top: 120px;
  margin-right: 170px;
}

.follows_box {
  width: 230px !important;
  height: 180px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 75%;
  border-radius: 20px;
  margin-inline-start: 40%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  z-index: 2;
}

.follows_box p {
  color: black !important;
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
  text-align: center !important;
}

.follows_box h2 {
  color: #6928e6;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}

/* Images */

.image_card {
  position: relative;
  width: 200px; /* Set width as needed */
  height: 250px; /* Set height as needed */
  overflow: hidden;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.image_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.image_card div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 15px;
}

.image_card:hover .image_card div {
  opacity: 1;
}

.image_card h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.image_card p {
  font-size: 14px;
  margin: 5px 0 0;
}

/*  */
.content_wrapper {
  height: 60vh;
  width: 55%;
  background: linear-gradient(45deg, #00005f, #7b2ff7);
}

.left_section {
  width: 100px;
  flex: 1;
  color: #ffffff;
  padding: 50px;
  text-align: left;
}
.animation_box {
  position: relative;
  margin-inline-start: 55%;
  z-index: 3;
  width: 300px;
  margin-top: -300px;
}

.content_wrapper h2 {
  font-size: 65px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
}

.content_wrapper p {
  width: 70%;
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #e0e0e0;
}

/* Card */
.article_card_container {
  width: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
  margin: 10px;
}

.image_container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment_badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #fff;
  color: #6a1b9a;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.content {
  padding: 20px;
}

.content p {
  font-size: 12px;
  color: #999;
  margin-bottom: 8px;
}

.content h3 {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin: 0;
}

/* .description {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
} */

.content button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background-color: #fff;
  color: #6a1b9a;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.content button:hover {
  transform: scale(1.1);
}

.form {
  background: linear-gradient(45deg, #f1d5fd, #cdcdfc);
  padding: 20px;
  width: 100%;
  border-radius: 25px;
  /* opacity: 0.8; */
}

.form p {
  color: red !important;
}

.contacts div {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Header */
.header_container {
  background: linear-gradient(90deg, #00003d, #010060);
  border-bottom-left-radius: 115%;
  border-bottom-right-radius: 170%;
  margin-left: -14%;
}

.box {
  height: 450px;
  color: white;
  margin: 0px;
}

.box_content {
  color: white;
  margin: 0 auto;
  padding: 0 auto;
  margin-inline-start: 7%;
  margin-top: 4%;
  text-align: start;
  padding: 30px;
}

.box_content h2 {
  font-size: 40px;
  text-align: start;
  margin: 0px;
  margin-top: 25%;
}

.box_content h1 {
  font-family: "Poppins";
  font-weight: 800;
  font-size: 60px;
  margin-block: 20px;
}

.box_content p {
  font-size: 18px;
  color: white !important;
}

.box_content ul {
  list-style-type: none;
  padding-left: 0;
}

.title_animation {
  position: relative;
  margin-inline-start: 160%;
  z-index: 3;
  width: 250px;
  margin-top: 0;
}

.circle_box {
  margin-left: 103%;
  margin-top: -60%;
  position: relative;
  z-index: 7;
}

.circle {
  position: absolute;
  border-radius: 50%;
  margin-top: 12%;
  margin-left: 8.5%;
}

.img {
  border-radius: 50%;
  width: 600px;
  margin-top: 120px;
  margin-right: 170px;
}

.follows_box {
  width: 230px !important;
  height: 180px;
  background-color: white;
  padding: 10px;
  position: absolute;
  top: 75%;
  border-radius: 20px;
  margin-inline-start: 40%;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
  z-index: 2;
}

.follows_box p {
  color: black !important;
  font-weight: bold;
  line-height: 22px;
  font-size: 16px;
  text-align: center !important;
}

.follows_box h2 {
  color: #6928e6;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}

/* Footer */
.footer {
  width: 100vw !important;
  margin: 0 auto;

  /* margin-left: 5%; */
}

/* Media Queries */
@media (min-width: 520px) and (max-width: 768px) {
  .header_container {
    width: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 0;
  }

  .box {
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box_content {
    margin-inline-start: 0;
    margin-top: 10%;
    padding: 20px;
  }

  .box_content h2 {
    font-size: 30px;
    margin-top: 10%;
  }

  .box_content h1 {
    font-size: 40px;
    margin-block: 10px;
  }

  .box_content p {
    font-size: 16px;
  }

  .img {
    width: 300px;
    margin-top: 50px;
    margin-right: 0;
  }

  .follows_box {
    width: 180px !important;
    height: 140px;
    top: 85%;
    margin-inline-start: 20%;
  }

  .follows_box h2 {
    font-size: 40px;
  }

  .follows_box p {
    font-size: 14px;
  }

  .circle_box {
    margin-left: 50%;
    margin-top: -30%;
    visibility: hidden;
  }

  .footer {
    width: 120vw !important;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header_container {
    width: 120vw;
    border-bottom-left-radius: 80%;
    border-bottom-right-radius: 80%;
    margin-left: -0.1%;
  }

  .box_content h2 {
    font-size: 35px;
  }

  .box_content h1 {
    font-size: 50px;
    margin: 0 auto;
    margin-left: 50px !important;
    text-align: center;
  }

  .box_content p {
    margin: 0 auto;
    font-size: 20px;
    text-align: center !important;
    margin-left: 50px !important;
  }

  .img {
    margin: 0 auto;
    width: 450px;
    margin-top: 50px !important;
    margin-right: 70px;
    padding-top: 100px;
  }

  .follows_box {
    margin: 0 auto;
    width: 200px !important;
    height: 160px;
    top: 100%;
    margin-inline-start: 30%;
  }

  .follows_box h2 {
    font-size: 50px;
  }

  .follows_box p {
    font-size: 15px;
  }

  .circle_box {
    margin: 0 auto;
    margin-left: 30%;
    margin-top: -30%;
    display: none;
  }
}

@media (min-width: 1025px) {
  /* Default styles for desktops */
}

@media (min-width: 340px) and (max-width: 519px) {
  .header_container {
    width: 100%;
    margin: 0 auto;
  }

  .box_content {
    text-align: center !important;
  }

  .box_content h2 {
    font-size: 30px;
    margin-top: 10%;
  }

  .box_content h1 {
    font-size: 40px;
    margin-block: 10px;
  }

  .box_content p {
    font-size: 16px;
    text-align: center !important;
  }

  .follows_box {
    width: 300px !important;
    height: 160px;
    top: 100%;
    margin-inline-start: 5%;
    margin-top: 50%;
  }

  .circle_box {
    margin: 0 auto !important;
    display: none;
  }
}
