.container {
  width: 20%;
}

.container a {
  display: flex;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border-style: solid;
  border-width: 2px;
  justify-content: center;
  align-items: center;
}

.container svg {
  margin-right: 8px;
  vertical-align: middle;
}

.container button {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.header {
  position: fixed;
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 10;
  visibility: visible;
  position: fixed;
  margin-left: -10%;
}

.header img {
  margin-right: 7%;
}

.header nav {
  margin-right: 7%;
}

.butoon {
  margin-left: 5% !important;
}

.list select {
  width: 85px;
  background: transparent;
  border: none;
}

.list li select option {
  background-color: transparent;
  color: black;
}

/* Center the loader on the page */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e0a48;
  position: relative;
}

.circle-part {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #ffffff;
  border-right-color: #6928e6;
  border-bottom-color: #973af1;
  animation: spin 1.5s linear infinite;
  position: absolute;
}

/* Text Styling */
.loader-text {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  position: absolute;
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
    display: none;
  }

  .container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .container a {
    font-size: 14px; 
    padding: 10px; 
  }

  .header img {
    margin-right: 0;
  }

  .header nav {
    margin-right: 0;
  }

  .list select {
    width: 100%; 
  }

  .loader-text {
    font-size: 1em;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    width: 100% !important; 
    margin: 0 auto !important;
    margin-left: -2.5% !important;
    margin-top: -2.5% !important;
  }

  .container a {
    font-size: 16px; 
  }

  .header img {
    margin-right: 5%; 
  }

  .header nav {
    margin-right: 5%; 
  }
}

@media (min-width: 1025px) {
  .container {
    width: 20%; 
  }

  .container a {
    font-size: 15px; 
  }

  .header img {
    margin-right: 7%;
  }

  .header nav {
    margin-right: 7%; 
  }
}

