.container {
  font-family: Sans-Serif;
  text-align: center;
}

.container ul li :first-child {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.container p {
  font-size: 20px;
}

.dataContainerStyle {
  border: 2px solid #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sectionStyle {
  margin-bottom: 20px;
}

.titleStyle {
  margin-bottom: 10px;
}

.iconStyle {
  color: #6c63ff;
  font-size: 20px;
  margin-right: 10px;
}

.buttonStyle {
  background: linear-gradient(90deg, #6c63ff, #4a47a3);
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.labelStyle {
  font-weight: bold;
  color: #444;
}

.dataStyle {
  color: #888;
}

.hrStyle {
  border: 0.5px solid #e5e5e5;
}

.content {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.image_container {
  width: 90%;
  margin: 0 auto;
}

.image_container span {
  font-size: 15px;
  color: lightgray;
  font-weight: bold;
}

.image_container h2 {
  font-size: 65px;
  font-weight: bold;
}

.image_container p {
  font-weight: unset;
  color: lightgray;
}

.text_content {
  width: 60%;
  text-align: left;
}

.details_container {
  width: 38%;
  display: flex;
  justify-content: center;
}

/* .image_container {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
  box-shadow: 0.5s ease;
  border-radius: 15px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image_container :hover .image_container img {
  transform: scale(1.2) rotate(10deg);
  cursor: pointer;
} */

.image_container {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  transition: transform 0.5s ease;
  box-shadow: 0.5s ease;
  border-radius: 15px;
}

.image_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.image_container:hover img {
  transform: scale(1.2) rotate(10deg);
  cursor: pointer;
}

.next_item_container {
  width: 100%;
  background: lightgrey;
  height: 80px;
  border-radius: 20px;
}

.next_item_container a {
  width: 40px;
  height: 78px;
  border-radius: 10px;
  background: white;
}

.next_item_container a:first-child {
  margin-right: 75%;
}

.next_item_container span {
  font-weight: bold;
}

.next_item_container span :first-child {
  margin-right: 35%;
}

.next_item_container span :last-child {
  margin-left: 35%;
}

/* .provider {
  width: 30%;
  position: absolute;
  z-index: 2;
  margin-top: 7%;
} */

.features_container {
  background-color: rgb(240, 239, 239);
  color: #38006b;
  border-radius: 20px;
  height: 300px;
  border: 1px solid lightgray;
  padding: 20px 10px;
  margin-top: 25px;
}

.features_container ul {
  list-style: none;
  padding: 0;
  margin-top: 70px;
}

.features_container button {
  background: white;
  color: #6a1b9a;
  border: 2px solid #6a1b9a;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Portfolio details */

.flexRow {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  width: 100%;
}

.leftContent {
  width: 100%;
  text-align: start;
}

.rightContent {
  width: 100%;
}

.descriptionText {
  width: 100% !important;
  color: #808080;
  font-size: 16px;
  font-weight: normal !important;
  margin: 0 auto !important;
}

.heading {
  font-weight: bold;
  font-size: 50px;
}

.card {
  width: 100% !important;
  padding: 2%;
}

.card p {
  font-size: 16px;
  margin: 0px;
}
